/* Navbar container */
.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(90deg, #279d07, #279d07);
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Buttons */
.nav-btn {
  background: white;
  color: #151616;
  padding: 10px 26px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background: #e0e7ff;
  transform: translateY(-2px);
}

/* Page container */
.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 16px;
}
